* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1B5AD;
  }

  nav {
    z-index: 3;
    width: 100%;
  }

  #map {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  #sidebar {
    z-index: 2;
    position: absolute;
    background-color: white;
    right: 0px;
  }

